<div class="row">
    <h2 class="module-title">IRL</h2>
</div>
<div class="module-content">
    <table class="table">
        <caption>Liste des éléments IRL</caption>
        <thead>
        <tr>
            <td>Image</td>
            <td>Nom</td>
            <td>Statut</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for irl in irl %}
            <tr>
                <td class="img-cell">
                    <div class="cell-container">
                        <img src="{{ images_directory }}/{{ irl.image }}"/>
                    </div>
                </td>
                <td class="title-cell">
                    <div class="cell-container">
                        {{ irl.name }}
                    </div>
                </td>
                <td class="status-cell">
                    <div class="cell-container">
                        {% if irl.published %} Publié {% endif %}
                        {% if not irl.published %} <span class="not">Non publié </span>{% endif %}
                    </div>
                </td>
                <td class="actions-cell">
                    <div class="cell-container">
                        <a href="{{ path('cm_back_irl_single', {'id': irl.id}) }}" class="btn btn-default">Edt</a>
                        <a href="{{ path('cm_back_irl_toggle_published', {'id': irl.id}) }}" class="btn btn-warning">{% if irl.published %}Dpb{% else %}Pbl{% endif %}</a>
                        <a href="{{ path('cm_back_irl_delete', {'id': irl.id}) }}" class="btn btn-danger">Del</a>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
<div class="row">
    <a href="{{ path('cm_back_irl_list') }}" class="btn btn-default col-xs-12">Accéder à la section</a>
</div>





