<div class="head-block">
    <header>
        <h1>Ici le header</h1>
    </header>
    <nav class="navbar navbar-default row">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Camille-Maillet.fr</a>
        </div>
        <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="{{ path('cm_back_dashboard') }}">Dashboard</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="{{ path('cm_back_production_list') }}">Réalisations</a></li>
            <li><a href="{{ path('cm_back_technology_list') }}">Technologies</a></li>
            <li><a href="{{ path('cm_back_irl_list') }}">IRL</a></li>
            <li><a href="{{ path('cm_back_bio') }}">Bio</a></li>
        </ul>
    </nav>
</div>
