{% extends 'Back/layout.html.twig' %}

{% block title %}Réalisations - {{ parent() }} {% endblock %}
{% block pageName %}productions{% endblock %}

{% block main %}
    <div class="row">
        <h2 class="list-page-title hidden-md hidden-lg hidden-xl">Réalisations </h2>
    </div>
    <div class="row" id="categories">
        {{ include('Back/Production/category-list.html.twig') }}
    </div>

    <section id="productions-list" class="row">
        <table class="table">
            <caption>Réalisations  <a href="{{ path('cm_back_production_add') }}" class="btn btn-success btn-xs"><i class="fas fa-plus"</a></caption>
            <thead>
            <tr>
                <td class="hidden-xs">Vignette</td>
                <td>Site</td>
                <td class="hidden-xs hidden-sm">Description</td>
                <td>Catégorie</td>
                <td class="hidden-xs">Technologies</td>
                <td class="hidden-xs">Date</td>
                <td>Statut</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody>
            {% for production in productions %}
                <tr>
                    <td class="img-cell hidden-xs">
                        <div class="cell-container">
                            <img src="{{ images_directory }}/{{ production.thumbnail }}"/>
                        </div>
                    </td>
                    <td class="title-cell ">
                        <div class="cell-container">
                            <a href="{{ production.url }}" target="_blank"> {{ production.name }}</a>
                        </div>
                    </td>
                    <td class="content-cell hidden-xs  hidden-sm">
                        <div class="cell-container">
                            {{ production.description  | raw }}
                        </div>
                    </td>
                    <td class="category-cell">
                        <div class="cell-container">
                            {% if production.productionCategory %}{{ production.productionCategory.name }}{% endif %}
                        </div>
                    </td>
                    <td class="technologies-cell hidden-xs">
                        <div class="cell-container">
                            <ul>
                                {% for technology in production.technologies %}<li>{{ technology.name }}</li>{% else %}<span class="not">Aucune</span>{% endfor %}
                            </ul>
                        </div>
                    </td>
                    <td class="date-cell hidden-xs">
                        <div class="cell-container">
                            {{ production.date|date('d-m-Y') }}
                        </div>
                    </td>
                    <td class="status-cell">
                        <div class="cell-container">
                            {% if production.published %} Publié {% else %}<span class="not">Non publié </span>{% endif %}
                        </div>
                    </td>
                    <td class="actions-cell">
                        <div class="cell-container">
                            <a href="{{ path('cm_back_production_single', {'id': production.id}) }}" class=""><i class="fas fa-edit"></i></a>
                            <a href="{{ path('cm_back_production_toggle_published', {'id': production.id}) }}" class="">{% if production.published %}<i class="fas fa-eye-slash"></i>{% else %}<i class="fas fa-eye"></i>{% endif %}</a>
                            <a href="{{ path('cm_back_production_delete', {'id': production.id}) }}" class=""><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}