{% extends 'Back/layout.html.twig' %}

{% block title %}{{ production.name }} (Réalisations) - {{ parent() }}{% endblock %}

{% block main %}
    <div class="row">
        <h2 class="single-title">{{ production.name }}</h2>
    </div>
    <div class="row single-content">
        <section id="preview">
            <h3 class="section-title">Aperçu</h3>
            <div class="section-content row">
                <div class="col-sm-3">
                    <h4>Aperçu</h4>
                    <div class="row">
                        <p class=" col-md-8 single-image">
                            <img src="{{ images_directory }}/{{ production.thumbnail }}" alt="{{ production.name }}" class="col-sm-12"/>
                        </p>
                    </div>

                    <h4>Image</h4>
                    <div class="row">
                        <p class=" col-md-8 single-image">
                            <img src="{{ images_directory }}/{{ production.image }}" alt="{{ production.name }}" class="col-sm-12"/>
                        </p>
                    </div>

                </div>
                <div class="col-sm-9 text-content">
                    <h4>Informations</h4>
                    <div class="row">
                        <p class="col-md-2 c col-sm-3"><strong>Nom : </strong></p>
                        <p class="col-md-10 col-sm-9">{{ production.name }}</p>
                    </div>
                    <div class="row">
                        <p class="col-md-2 c col-sm-3"><strong>Catégorie de projet : </strong></p>
                        <p class="col-md-10 col-sm-9">{% if production.productionCategory %}{{ production.productionCategory.name }}{% else %}<span class="not">Aucune</span>{% endif %}</p>
                    </div>
                    <div class="row">
                        <p class="col-md-2 c col-sm-3"><strong>Technologies utilisées : </strong></p>
                        <p class="col-md-10 col-sm-9">{% for technology in production.technologies  %}{{ technology.name }}{% if not loop.last %} | {% endif %}{% else %}<span class="not">Aucune</span>{% endfor %}</p>
                    </div>
                    <div class="row">
                        <p class="col-md-2 c col-sm-3"><strong>URL : </strong></p>
                        <p class="col-md-10 col-sm-9"><a href="{{ production.url }}" target="_blank">{{ production.url }}</a></p>
                    </div>
                    <div class="row">
                        <p class="col-md-2 c col-sm-3"><strong>Date : </strong></p>
                        <p class="col-md-10 col-sm-9">{{ production.date|date('d/m/Y') }}</p>
                    </div>
                    <div class="row">
                        <p class="col-md-2 c col-sm-3"><strong>Statut : </strong></p>
                        <p class="col-md-10 col-sm-9">
                            {% if production.published %}Publié{% else %}<span class="not">Non publié</span>{% endif %} <br/>
                        </p>
                    </div>
                    <div class="row">
                        <p class="col-md-2 c col-sm-3"><strong>Description : </strong></p>
                        <p class="col-md-10 col-sm-9">{{ production.description }}</p>
                    </div>


                </div>
            </div>

        </section>

        <section id="edit-production">
            <h3 class="section-title">Édition</h3>
            {{ include('Back/Form/production.html.twig') }}
        </section>



    </div>
{% endblock %}