{% extends 'Back/layout.html.twig' %}

{% block title %}{{ production.name }} (Réalisations) - {{ parent() }}{% endblock %}
{% block pageName %}productions{% endblock %}

{% block main %}

    <div class="row">
        <h2 class="single-title">{{ production.name }}</h2>
    </div>
    <div class="row single-content">
        <section id="preview">
            <h3 class="section-title">Aperçu</h3>
            <div class="section-content row">
                <div id="production-images" class="col-sm-3">
                    <h4>Vignette</h4>
                    <div class="row">
                        <p class=" col-md-8 col-sm-12 col-xs-10 col-xs-offset-1">
                            <img src="{{ images_directory }}/{{ production.thumbnail }}" alt="{{ production.name }}" class="col-sm-12"/>
                        </p>
                    </div>

                    <h4>Image</h4>
                    <div class="row">
                        <p class=" col-md-8 col-sm-12 col-xs-10 col-xs-offset-1">
                            <img src="{{ images_directory }}/{{ production.image }}" alt="{{ production.name }}" class="col-sm-12"/>
                        </p>
                    </div>

                    <h4>Aperçu</h4>
                    <div class="row">
                        <p class=" col-md-8 col-sm-12 col-xs-10 col-xs-offset-1">
                            <img src="{{ images_directory }}/{{ production.preview }}" alt="{{ production.name }}" class="col-sm-12"/>
                        </p>
                    </div>
                </div>
                <div class="col-sm-9 text-content">
                    <h4>Informations</h4>
                    <div class="row">
                        <p class="col-md-2  col-xs-4 "><strong>Nom</strong></p>
                        <p class="col-md-10 col-xs-8">{{ production.name }}</p>
                    </div>
                    <div class="row">
                        <p class="col-md-2  col-xs-4 "><strong>Catégorie</strong></p>
                        <p class="col-md-10 col-xs-8">{% if production.productionCategory %}{{ production.productionCategory.name }}{% else %}<span class="not">Aucune</span>{% endif %}</p>
                    </div>
                    <div class="row">
                        <p class="col-md-2  col-xs-4 "><strong>Technologies</strong></p>
                        <p class="col-md-10 col-xs-!">{% for technology in production.technologies  %}{{ technology.name }}{% if not loop.last %} | {% endif %}{% else %}<span class="not">Aucune</span>{% endfor %}</p>
                    </div>
                    <div class="row">
                        <p class="col-md-2  col-xs-4 "><strong>URL</strong></p>
                        <p class="col-md-10 col-xs-8"><a href="{{ production.url }}" target="_blank">{{ production.url }}</a></p>
                    </div>
                    <div class="row">
                        <p class="col-md-2  col-xs-4 "><strong>Github</strong></p>
                        <p class="col-md-10 col-xs-8">{% if production.github %}<a href="{{ production.github }}" target="_blank">{{ production.github }}</a>{% else %} <span class="not">Non disponible</span>{% endif %}</p>
                    </div>
                    <div class="row">
                        <p class="col-md-2  col-xs-4 "><strong>Date</strong></p>
                        <p class="col-md-10 col-xs-8">{{ production.date|date('d/m/Y') }}</p>
                    </div>
                    <div class="row">
                        <p class="col-md-2  col-xs-4 "><strong>Statut</strong></p>
                        <p class="col-md-10 col-xs-8">
                            {% if production.published %}Publié{% else %}<span class="not">Non publié</span>{% endif %} <br/>
                        </p>
                    </div>
                    <div class="row">
                        <p class="col-md-2  col-xs-4 "><strong>Description</strong></p>
                        <div class="col-md-10 col-xs-12">{{ production.description  | raw }}</div>
                    </div>
                </div>
            </div>

        </section>

        <section id="edit-production">
            <h3 class="section-title">Édition</h3>
            {{ include('Back/Form/production.html.twig') }}
        </section>
    </div>

{% endblock %}