<div class="section-content">
    {{ form_start(form, {'attr': {'class': 'form-horizontal col-sm-offset-1 col-sm-10'}}) }}
    {{ form_errors(form, {'attr': {'class': 'alert alert-warning'}}) }}

    <div class="form-group">
        {{ form_label(form.name, "Intitulé", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {{ form_errors(form.name) }}
        <div class="col-sm-8">
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.structure, "Structure", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {{ form_errors(form.structure) }}
        <div class="col-sm-8">
            {{ form_widget(form.structure, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {{ form_errors(form.description) }}
        <div class="col-sm-8">
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': '10'}}) }}
        </div>
    </div>
    <div class="form-group category">
        {{ form_label(form.category, "Catégorie", {'label_attr': {'class': ' col-sm-4 control-label'}}) }}
        {{ form_errors(form.category) }}
        <div class="col-sm-4 input">
            {{ form_widget(form.category) }}
        </div>
    </div>
    <div class="form-group date">
        {{ form_label(form.date, "Date", {'label_attr': {'class': ' col-sm-4  control-label'}}) }}
        {{ form_errors(form.date) }}
        <div class="col-sm-4 input">
            {{ form_widget(form.date) }}
        </div>
    </div>
    <div class="form-group published">
        {{ form_label(form.published, "Publié", {'label_attr': {'class': ' col-xs-4  control-label'}}) }}
        {{ form_errors(form.published) }}
        <div class="col-sm-4 col-xs-8 input">
            {{ form_widget(form.published, {'attr': {'class': 'form-control checkbox'}}) }}
        </div>
    </div>


    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary pull-right'}}) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>