<div class="section-content row">
    {{ form_start(form, {'attr': {'class': 'form-horizontal col-sm-offset-1 col-sm-10'}}) }}
    {{ form_errors(form, {'attr': {'class': 'alert alert-warning'}}) }}

    <div class="form-group">
        {{ form_label(form.name, "Nom de l'élément IRL", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {{ form_errors(form.name) }}
        <div class="col-sm-8">
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.description, "Description de l'élément IRL", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {{ form_errors(form.description) }}
        <div class="col-sm-8">
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': '10'}}) }}
        </div>
    </div>
    <div class="form-group image">
        {{ form_label(form.image, "Image", {'label_attr': {'class': ' col-sm-4 control-label'}}) }}
        {{ form_errors(form.image) }}
        <div class="col-sm-8 input">
            {{ form_widget(form.image, {'attr': { 'class': 'image-picker'}}) }}
        </div>
    </div>
    <div class="form-group published">
        {{ form_label(form.published, "Publié", {'label_attr': {'class': ' col-xs-4  control-label'}}) }}
        {{ form_errors(form.published) }}
        <div class="col-sm-2 col-xs-8 input">
            {{ form_widget(form.published, {'attr': {'class': 'form-control checkbox'}}) }}
        </div>
    </div>


    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary pull-right'}}) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>