<div class="section-content row">
    {{ form_start(form, {'attr': {'class': 'form-horizontal col-sm-offset-1 col-sm-10'}}) }}
    {{ form_errors(form, {'attr': {'class': 'alert alert-warning'}}) }}

    <div class="form-group">
        {{ form_label(form.name, "Nom de la réalisation", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {{ form_errors(form.name) }}
        <div class="col-sm-8 input">
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.url, "URL de la réalisation", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {{ form_errors(form.url) }}
        <div class="col-sm-8 input">
            {{ form_widget(form.url, {'attr': {'class': 'form-control', 'rows': '10'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.github, "GitHub de la réalisation", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {{ form_errors(form.github) }}
        <div class="col-sm-8 input">
            {{ form_widget(form.github, {'attr': {'class': 'form-control', 'rows': '10'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.description, "Description de la réalisation", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {{ form_errors(form.description) }}
        <div class="col-sm-8 input">
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': '10'}}) }}
        </div>
    </div>
    <div class="form-group image">
        {{ form_label(form.thumbnail, "Vignette", {'label_attr': {'class': ' col-sm-4 control-label'}}) }}
        {{ form_errors(form.thumbnail) }}
        <div class="col-sm-8 input">
            {{ form_widget(form.thumbnail, {'attr': { 'class': 'image-picker'}}) }}
        </div>
    </div>
    <div class="form-group image">
        {{ form_label(form.image, "Image", {'label_attr': {'class': ' col-sm-4 control-label'}}) }}
        {{ form_errors(form.image) }}
        <div class="col-sm-8 input">
            {{ form_widget(form.image, {'attr': { 'class': 'image-picker'}}) }}
        </div>
    </div>
    <div class="form-group image">
        {{ form_label(form.preview, "Aperçu", {'label_attr': {'class': ' col-sm-4 control-label'}}) }}
        {{ form_errors(form.preview) }}
        <div class="col-sm-8 input">
            {{ form_widget(form.preview, {'attr': { 'class': 'image-picker'}}) }}
        </div>
    </div>
    <div class="form-group category">
        {{ form_label(form.productionCategory, "Catégorie de réalisation", {'label_attr': {'class': ' col-sm-4 control-label'}}) }}
        {{ form_errors(form.productionCategory) }}
        <div class="col-sm-2 input">
            {{ form_widget(form.productionCategory) }}
        </div>
    </div>
    <div class="form-group technologies">
        {{ form_label(form.technologies, "Technologies utilisées", {'label_attr': {'class': ' col-sm-4 control-label'}}) }}
        {{ form_errors(form.technologies) }}
        <div class="col-sm-2 input">
            {{ form_widget(form.technologies) }}
        </div>
    </div>
    <div class="form-group date">
        {{ form_label(form.date, "Date", {'label_attr': {'class': ' col-sm-4  control-label'}}) }}
        {{ form_errors(form.date) }}
        <div class="col-sm-2 input">
            {{ form_widget(form.date) }}
        </div>
    </div>
    <div class="form-group published">
        {{ form_label(form.published, "Publié", {'label_attr': {'class': ' col-sm-4  control-label'}}) }}
        {{ form_errors(form.published) }}
        <div class="col-sm-2 input">
            {{ form_widget(form.published, {'attr': {'class': 'form-control checkbox'}}) }}
        </div>
    </div>

    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary pull-right'}}) }}


    {{ form_rest(form) }}


    {{ form_end(form) }}
</div>