<section id="contact">

    <div class="row" id="contact-container">

        <h2 class="section-title">Contact</h2>

        {{ form_errors(form, {'attr': {'class': 'alert alert-warning'}}) }}
        {{ form_start(form, {'attr': {'class': 'form-horizontal col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10', 'id': 'contact-form'}}) }}
        <div id="sending-loader">
            <img src="/img/ajax-loader.gif"  alt="chargement" />
        </div>
        <div class="form-group">
            {{ form_label(form.author, "Nom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.author) }}
            <div class="col-sm-10">
                {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.email) }}
            <div class="col-sm-10">
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.tel, "Téléphone", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.tel) }}
            <div class="col-sm-10">
                {{ form_widget(form.tel, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.object, "Objet", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.object) }}
            <div class="col-sm-10">
                {{ form_widget(form.object, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.message, "Message", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.message) }}
            <div class="col-sm-10">
                {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': '10'}}) }}
                <p id="empty-textarea"></p>
            </div>

        </div>


        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary pull-right'}}) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</section>