{% extends 'Front/layout.html.twig' %}

{% block main %}

    {{ include('Front/Home/intro.html.twig') }}
    <div id="main" class="row">
        {{ include('Front/Home/menu.html.twig') }}
        <div id="main-content" class="col-md-10 col-md-offset-2">
            <div id="mosaic-loader">
                <img src="/img/ajax-loader.gif"  alt="chargement" />
            </div>

            {{ include('Front/Home/productions.html.twig') }}
            {{ include('Front/Home/technologies.html.twig') }}
            {{ include('Front/Home/bio.html.twig') }}
            {{ include('Front/Home/career.html.twig') }}
            {{ include('Front/Home/irl.html.twig') }}
        </div>

        {{ include('Front/Home/footer.html.twig') }}
        {{ include('Front/Home/message-notification.html.twig') }}

        <div id="left-page" class="col-md-10">
            {{ include('Front/Home/contact.html.twig') }}
        </div>
        <div id="right-page" class="col-md-offset-2 col-md-10">
            {{ include('Front/Home/production-single.html.twig') }}
        </div>
    </div>

{% endblock %}
