{% extends 'Back/layout.html.twig' %}

{% block title %}Liste des éléments IRL - {{ parent() }} {% endblock %}

{% block main %}
    <div class="row">
        <h2 class="list-page-title hidden-md hidden-lg hidden-xl">IRL </h2>
    </div>
    <section id="irl-list" class="row">

        <table class="table">
            <caption>Liste des éléments IRL  <a href="{{ path('cm_back_irl_add') }}" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a></caption>
            <thead>
            <tr>
                <td class="hidden-xs">Image</td>
                <td>Nom</td>
                <td class="hidden-xs hidden-sm">Description</td>
                <td>Statut</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody>

            {% for irl in irl %}
                <tr>
                    <td class="img-cell hidden-xs">
                        <div class="cell-container">
                            <img src="{{ images_directory }}/{{ irl.image }}"/>
                        </div>
                    </td>
                    <td class="title-cell">
                        <div class="cell-container">
                            {{ irl.name }}
                        </div>
                    </td>
                    <td class="content-cell hidden-xs hidden-sm">
                        <div class="cell-container">
                            {{ irl.description  | raw}}
                        </div>
                    </td>
                    <td class="status-cell">
                        <div class="cell-container">
                            {% if irl.published %} Publié {% endif %}
                            {% if not irl.published %} <span class="not">Non publié </span>{% endif %}
                        </div>
                    </td>
                    <td class="actions-cell">
                        <div class="cell-container">
                            <a href="{{ path('cm_back_irl_single', {'id': irl.id}) }}" class=""><i class="fas fa-edit"></i></a>
                            <a href="{{ path('cm_back_irl_toggle_published', {'id': irl.id}) }}" class="">{% if irl.published %}<i class="fas fa-eye-slash"></i>{% else %}<i class="fas fa-eye"></i>{% endif %}</a>
                            <a href="{{ path('cm_back_irl_delete', {'id': irl.id}) }}" class=""><i class="fas fa-trash-alt"></i></a>
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </section>



{% endblock %}