<div class="row">
    <h2 class="module-title">IRL</h2>
</div>
<div class="module-content">
    <table class="table">
        <caption>Liste des éléments IRL</caption>
        <thead>
        <tr>
            <td class="hidden-xs hidden-sm hidden-md">Image</td>
            <td>Nom</td>
            <td>Statut</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for irl in irl %}
            <tr>
                <td class="img-cell hidden-xs hidden-sm hidden-md">
                        <img src="{{ images_directory }}/{{ irl.image }}"/>
                </td>
                <td class="title-cell">
                        {{ irl.name }}
                </td>
                <td class="status-cell">
                        {% if irl.published %} Publié {% endif %}
                        {% if not irl.published %} <span class="not">Non publié </span>{% endif %}
                </td>
                <td class="actions-cell">
                        <a href="{{ path('cm_back_irl_single', {'id': irl.id}) }}" class=""><i class="fas fa-edit"></i></a>
                        <a href="{{ path('cm_back_irl_toggle_published', {'id': irl.id}) }}" class="">{% if irl.published %}<i class="fas fa-eye-slash"></i>{% else %}<i class="fas fa-eye"></i>{% endif %}</a>
                        <a href="{{ path('cm_back_irl_delete', {'id': irl.id}) }}" class=""><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="row">
    <a href="{{ path('cm_back_irl_list') }}" class="btn btn-default col-xs-12">Accéder à la section</a>
</div>





