<div id="head-block">
    {% if is_granted('ROLE_ADMIN') %}
        <nav class="navbar navbar-default navbar-inverse row">
            <div id="menu-toggle"><i class="fas fa-bars"></i></div>
            <div class="row mobile-hidden" id="main-nav">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('cm_front_home') }}"><img src="/img/logo-back.png" alt="cm-web"> CM Web</a>
                </div>
                <ul class="nav navbar-nav pull-right">
                    <li page="dashboard"><a href="{{ path('cm_back_dashboard') }}">Dashboard</a></li>
                    <li page="messages" ><a href="{{ path('cm_back_message_list') }}">Messages ({{ unprocessedMessages }})</a></li>
                    <li page="productions"><a page=""href="{{ path('cm_back_production_list') }}">Réalisations</a></li>
                    <li page="technologies"><a href="{{ path('cm_back_technology_list') }}">Technologies</a></li>
                    <li page="irl"><a href="{{ path('cm_back_irl_list') }}">IRL</a></li>
                    <li page="bio"><a href="{{ path('cm_back_bio') }}">Bio</a></li>
                    <li page="career"><a href="{{ path('cm_back_career_list') }}">Parcours</a></li>
                    <li page="user"><a href="{{ path('cm_back_admin_user_edit') }}">{{ app.user.username }}</a></li>
                    <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                </ul>
            </div>
        </nav>
    {% endif %}

</div>
