<tr>
    <td class="img-cell">
        <div class="cell-container">
            <img src="{{ images_directory }}/{{ technology.image }}"/>
        </div>
    </td>
    <td class="title-cell">
        <div class="cell-container">
            {{ technology.name }}
        </div>
    </td>
    <td class="category-cell">
        <div class="cell-container">
            {% if technology.category %}{{technology.category.name }}{% else %}<span class="not">Aucune</span>{% endif %}
        </div>
    </td>
    <td class="stack-cell">
        <div class="cell-container">
            <em>{% if technology.stack %}{{technology.stack }}{% else %}<span class="not">Aucun</span>{% endif %}</em>
        </div>
    </td>
    <td class="content-cell">
        <div class="cell-container">
            {{ technology.description }}
        </div>
    </td>
    <td class="status-cell">
        <div class="cell-container">
            {% if technology.published %} Publié {% endif %}
            {% if not technology.published %} <span class="not">Non publié </span>{% endif %}
        </div>
    </td>
    <td class="actions-cell">
        <div class="cell-container">
            <a href="{{ path('cm_back_technology_single', {'id': technology.id}) }}" class="btn btn-default">Edt</a>
            <a href="{{ path('cm_back_technology_toggle_mastered', {'id': technology.id}) }}" class="btn btn-default">{% if technology.mastered %}Tln{% else %}Mtd{% endif %}</a>
            <a href="{{ path('cm_back_technology_toggle_published', {'id': technology.id}) }}" class="btn btn-warning">{% if technology.published %}Dpb{% else %}Pbl{% endif %}</a>
            <a href="{{ path('cm_back_technology_delete', {'id': technology.id}) }}" class="btn btn-danger">Del</a>
        </div>

    </td>
</tr>