<tr>
    <td class="img-cell hidden-xs hidden-sm">
        <div class="cell-container">
            <img src="{{ images_directory }}/{{ technology.image }}"/>
        </div>
    </td>
    <td class="title-cell">
        <div class="cell-container">
            {{ technology.name }}
        </div>
    </td>
    <td class="category-cell hidden-xs">
        <div class="cell-container">
            {% if technology.category %}{{technology.category.name }}{% else %}<span class="not">Aucune</span>{% endif %}
        </div>
    </td>
    <td class="stack-cell hidden-xs">
        <div class="cell-container">
            <em>{% if technology.stack %}{{technology.stack }}{% else %}<span class="not">Aucun</span>{% endif %}</em>
        </div>
    </td>
    <td class="content-cell hidden-xs hidden-sm">
        <div class="cell-container">
            {{ technology.description | raw }}
        </div>
    </td>
    <td class="status-cell">
        <div class="cell-container">
            {% if technology.published %} Publié {% endif %}
            {% if not technology.published %} <span class="not">Non publié </span>{% endif %}
        </div>
    </td>
    <td class="actions-cell">
        <div class="cell-container">
            <a href="{{ path('cm_back_technology_single', {'id': technology.id}) }}" class=""><i class="fas fa-edit"></i></a>
            <a href="{{ path('cm_back_technology_toggle_mastered', {'id': technology.id}) }}" class="">{% if technology.mastered %}<i class="fas fa-dot-circle"></i>{% else %}<i class="fas fa-check"></i>{% endif %}</a>
            <a href="{{ path('cm_back_technology_toggle_published', {'id': technology.id}) }}" class="">{% if technology.published %}<i class="fas fa-eye-slash"></i>{% else %}<i class="fas fa-eye"></i>{% endif %}</a>
            <a href="{{ path('cm_back_technology_delete', {'id': technology.id}) }}" class=""><i class="fas fa-trash-alt"></i></a>
        </div>

    </td>
</tr>