{% extends 'Back/layout.html.twig' %}

{% block title %}Liste des technologies - {{ parent() }} {% endblock %}
{% block pageName %}technologies{% endblock %}
{% block main %}
    <div class="row">
        <h2 class="list-page-title hidden-md hidden-lg hidden-xl">Technologies </h2>
    </div>
    <div id="categories" class="row">
        <div class="col-md-8">
            <section id="technology-category-list" class="row">
                <table class="table">
                    <caption>Catégories de technologie</caption>
                    <thead>
                    <tr>
                        <td>Nom</td>
                        <td class="hidden-xs">Technologies liées</td>
                        <td>Actions</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in technologyCategories %}
                        <tr>
                            <td class="title-cell">
                                {{ category.name }} <span class="visible-xs">({{ category.technologies|length }})</span>
                            </td>
                            <td class="technologies hidden-xs">
                                {% for technology in category.technologies %}{% if not loop.first %} | {% endif %}<a href="{{ path('cm_back_technology_single', {"id": technology.id }) }}">{{ technology.name }}</a>{% else %}<span class="not">Aucune</span>{% endfor %}

                            </td>
                            <td class="actions-cell">
                                <a href="{{ path('cm_back_technology_list', {'id': category.id}) }}" class=""><i class="fas fa-edit"></i></a>
                                <a href="{{ path('cm_back_technology_category_delete', {'id': category.id}) }}" class=""><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </section>
        </div>

        <div class="col-md-offset-1 col-md-3 embedded-form-container">
            <section id="category-form" class="form-aside row">

                <h3>{% if category.name %}Édition de la catégorie <strong>"{{ category.name }}"</strong>{% else %}Ajout d'une catégorie{% endif %}</h3>
                <div class="section-content">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal col-sm-offset-1 col-sm-10'}}) }}
                    {{ form_errors(form, {'attr': {'class': 'alert alert-warning'}}) }}

                    <div class="form-group">
                        {{ form_label(form.name, "Nom", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                        {{ form_errors(form.name) }}
                        <div class="col-sm-8 input">
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary pull-right'}}) }}

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>

            </section>
        </div>




    </div>




    <section id="mastered-technologies" class="row">
        <table class="table">
            <caption>
                Technologies maîtrisées  <a href="{{ path('cm_back_technology_add') }}" class="btn btn-success btn-xs "><i class="fas fa-plus"></i></a>
            </caption>
            <thead>
            <tr>
                <td class="hidden-xs hidden-sm">Image</td>
                <td>Nom</td>
                <td class="hidden-xs">Catégorie</td>
                <td class="hidden-xs">Stack</td>
                <td class="hidden-xs hidden-sm">Description</td>
                <td>Statut</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody>
            {% for technology in masteredTechnologies %}
                {{ include('Back/Technology/list-array.html.twig') }}
            {% endfor %}
            </tbody>

        </table>
    </section>

    <section id="learned-technologies" class="row">
        <table class="table">
            <caption>
                Technologies à apprendre  <a href="{{ path('cm_back_technology_add') }}" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
            </caption>
            <thead>
            <tr>
                <td class="hidden-xs hidden-sm">Image</td>
                <td>Nom</td>
                <td class="hidden-xs">Catégorie</td>
                <td class="hidden-xs">Stack</td>
                <td class="hidden-xs hidden-sm">Description</td>
                <td>Statut</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody>
            {% for technology in learnedTechnologies %}
                {{ include('Back/Technology/list-array.html.twig') }}
            {% endfor %}
            </tbody>

        </table>
    </section>





{% endblock %}