{% extends 'Back/layout.html.twig' %}

{% block title %}Parcours - {{ parent() }} {% endblock %}
{% block pageName %}career{% endblock %}
{% block main %}
    <div class="row">
        <h2 class="list-page-title hidden-md hidden-lg hidden-xl"> Parcours </h2>
    </div>


        <aside id="career-form" class="form-aside row">

            <h3>{% if career.name %}Édition de l'élément du parcours <strong>"{{ career.name }}"</strong>{% else %}Ajout d'une élément au parcours{% endif %}</h3>

            {{ include('Back/Form/career.html.twig') }}


        </aside>


            <section id="corporate" class="row">
                <table class="table">
                    <caption>Entreprise</caption>
                    <thead>
                    <tr>
                        <td>Poste</td>
                        <td class="hidden-xs">Description</td>
                        <td>Statut</td>
                        <td>Actions</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for career in corporate %}
                        {{ include('Back/Career/list-array.html.twig') }}
                    {% endfor %}
                    </tbody>

                </table>
            </section>

            <section id="formation" class="row">
                <table class="table">
                    <caption>Formation</caption>
                    <thead>
                    <tr>
                        <td>Intitulé</td>
                        <td class="hidden-xs">Description</td>
                        <td>Statut</td>
                        <td>Actions</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for career in formations %}
                        {{ include('Back/Career/list-array.html.twig') }}
                    {% endfor %}
                    </tbody>

                </table>
            </section>





{% endblock %}