{% extends 'layout.html.twig' %}

{% block title %}Réalisations - {{ parent() }} {% endblock %}

{% block body %}

    <div class="row">
        <a href="{{ path('cm_back_production_add') }}" class="btn btn-success btn-lg">Ajouter une réalisation</a>
    </div>

    <section id="prodictions-list" class="row">
        <table class="table">
            <caption>Réalisations</caption>
            <thead>
            <tr>
                <td>Aperçu</td>
                <td>Image</td>
                <td>Nom</td>
                <td>Url</td>
                <td>Description</td>
                <td>Catégorie</td>
                <td>Technologies</td>
                <td>Date</td>
                <td>Statut</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody>
            {% for production in productions %}
                <tr>
                    <td class="img-cell">
                        <div class="cell-container">
                            <img src="{{ images_directory }}/{{ production.thumbnail }}"/>
                        </div>
                    </td>
                    <td class="img-cell">
                        <div class="cell-container">
                            <img src="{{ images_directory }}/{{ production.image }}"/>
                        </div>
                    </td>
                    <td class="title-cell">
                        <div class="cell-container">
                            {{ production.name }}
                        </div>
                    </td>
                    <td class="url-cell">
                        <div class="cell-container">
                            <a href="{{ production.url }}" target="_blank">{{ production.url }}</a>
                        </div>
                    </td>
                    <td class="content-cell">
                        <div class="cell-container">
                            {{ production.description }}
                        </div>
                    </td>
                    <td class="category-cell">
                        <div class="cell-container">
                            {% if production.productionCategory %}{{ production.productionCategory.name }}{% endif %}
                        </div>
                    </td>
                    <td class="technologies-cell">
                        <div class="cell-container">
                            <ul>
                                {% for technology in production.technologies %}<li>{{ technology.name }}</li>{% else %}<span class="not">Aucune</span>{% endfor %}
                            </ul>

                        </div>
                    </td>
                    <td class="date-cell">
                        <div class="cell-container">
                            {{ production.date|date('d-m-Y') }}
                        </div>
                    </td>
                    <td class="status-cell">
                        <div class="cell-container">
                            {% if production.published %} Publié {% else %}<span class="not">Non publié </span>{% endif %}
                        </div>
                    </td>
                    <td class="actions-cell">
                        <div class="cell-container">
                            <a href="{{ path('cm_back_production_single', {'id': production.id}) }}" class="btn btn-default">Edt</a>
                            <a href="{{ path('cm_back_production_toggle_published', {'id': production.id}) }}" class="btn btn-warning">{% if production.published %}Dpb{% else %}Pbl{% endif %}</a>
                            <a href="{{ path('cm_back_production_delete', {'id': production.id}) }}" class="btn btn-danger">Del</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </section>

    <div class="row" id="categories">
        {{ include('Production/category-list.html.twig') }}
    </div>


{% endblock %}