

<div class="row">
    <h2 class="module-title">Réalisations</h2>
</div>
<div class="module-content">
    <table class="table">
        <caption>Réalisations</caption>
        <thead>
        <tr>
            <td>Aperçu</td>
            <td>Image</td>
            <td>Nom</td>
            <td>Technologies</td>
            <td>Statut</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for production in productions %}
            <tr>
                <td class="img-cell">
                    <div class="cell-container">
                        <img src="{{ images_directory }}/{{ production.thumbnail }}"/>
                    </div>
                </td>
                <td class="img-cell">
                    <div class="cell-container">
                        <img src="{{ images_directory }}/{{ production.image }}"/>
                    </div>
                </td>

                <td class="title-cell">
                    <div class="cell-container">
                        <a href="{{ production.url }}">{{ production.name }}</a>
                    </div>
                </td>
                <td class="technologies-cell">
                    <div class="cell-container">
                        <ul>
                            {% for technology in production.technologies %}<li>{{ technology.name }}</li>{% else %}<span class="not">Aucune</span>{% endfor %}
                        </ul>
                    </div>
                </td>
                <td class="status-cell">
                    <div class="cell-container">
                        {% if production.published %} Publié {% else %}<span class="not">Non publié </span>{% endif %}
                    </div>
                </td>
                <td class="actions-cell">
                    <div class="cell-container">
                        <a href="{{ path('cm_back_production_single', {'id': production.id}) }}" class="btn btn-default">Edt</a>
                        <a href="{{ path('cm_back_production_toggle_published', {'id': production.id}) }}" class="btn btn-warning">{% if production.published %}Dpb{% else %}Pbl{% endif %}</a>
                        <a href="{{ path('cm_back_production_delete', {'id': production.id}) }}" class="btn btn-danger">Del</a>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
<div class="row">
    <a href="{{ path('cm_back_production_list') }}" class="btn btn-default col-xs-12">Accéder à la section</a>
</div>




