{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/back-main.css">
{% endblock %}

{% block title %}Admin | {{ parent() }}{% endblock %}

{% block body %}

    {{ render(controller("App\\Controller\\Back\\GlobalController::HeadAction")) }}
    <div id="global-content">
        {% for notice in app.session.flashbag.get('notice') %}
            <div class="notice hidden">
                {{ notice }}
            </div>
        {% endfor %}
        <div class="page-container" id="{% block pageName %} {% endblock %}">
            {% block main %}
            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/js/menuToggle.js"></script>
    <script src="/js/backNavSync.js"></script>
    <script src="/js/pwdConfirm.js"></script>
    <script src="/js/backMessageWindowManager.js"></script>
    <script src="/js/noticeAnimator.js"></script>
{% endblock %}


