{% extends('layout.html.twig') %}
{% block title %}Dashboard - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row full-width">
        <div class="col-sm-8">
            <section id="projets" class="col-sm-12 dashboard-module">{{ render(controller("App\\Controller\\ProductionController::shortListAction")) }}</section>
            <section id="technologies" class="col-sm-12 dashboard-module">{{ render(controller("App\\Controller\\TechnologyController::shortListAction")) }}</section>
        </div>
        <div class="col-sm-4">
            <section id="bio" class="col-sm-12 dashboard-module">{{ render(controller("App\\Controller\\BioController::smallAction")) }}</section>
            <section id="production-categories" class="col-sm-12 dashboard-module">{{ render(controller("App\\Controller\\ProductionController::shortCategoriesAction")) }}</section>
            <section id="irl" class="col-sm-12 dashboard-module">{{ render(controller("App\\Controller\\IrlController::shortListAction")) }}</section>
        </div>
    </div>
{% endblock %}