<tr id="message-{{ message.id }}">
    <td class="message" >
        <div class="cell-container">
            <h5>{{ message.object }}</h5>
            <p>De {{ message.author }}, <em>le {{ message.date|date('d/m/Y') }}</em></p>
        </div>
    </td>

    <td class="actions-cell">
        <div class="cell-container">
            <a href="{{ path('cm_back_message_toggle_processed', {'id': message.id}) }}" class="">{% if message.processed %}<i class="fas fa-dot-circle"></i>{% else %}<i class="fas fa-check"></i>{% endif %}</a>
            <a href="{{ path('cm_back_message_delete', {'id': message.id}) }}" class=""><i class="fas fa-trash-alt"></i></a>
            <span class="show-message" author="{{ message.author }}" email="{{ message.email }}" tel="{{ message.tel }}" date="{{ message.date|date('d/m/Y') }}" object="{{ message.object }}" message="{{ message.message|raw }}"><i class="fas fa-book"></i></span>
        </div>

    </td>
</tr>