<div class="row">
    <h2 class="module-title">Messages</h2>
</div>
<div class="module-content">
    <table class="table message-table">
        <caption>Derniers messages non traités</caption>
        <thead>
        <tr>
            <td>Message</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr id="message-{{ message.id }}">
                <td class="message-cell">
                    {{ message.author }}, <em>le {{ message.date|date('d/m/Y') }}</em><br/>
                    <strong>{{message.object }}</strong>
                <td class="actions-cell">
                        <a href="{{ path('cm_back_message_list', {'id': message.id}) }}#message-{{ message.id }}" class=""><i class="fas fa-book"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
<div class="row">
    <a href="{{ path('cm_back_message_list') }}" class="btn btn-default col-xs-12">Accéder à la section</a>
</div>
