<h3><strong>Objet :</strong>  {{ message.object }}</h3>

<p class="well">
    <strong>Nom : </strong> {{ message.author }} <br>
    <strong>Mail :</strong> {{ message.email }} <br>
    <strong>Tel :</strong> {% if message.tel %}{{ message.tel }}{% endif %}
</p>

<strong>Message :</strong>
{{ message.message | raw }}
